/* -----------------intro -----------*/
@media (max-width: 1230px){
    /* -----------------intro -----------*/
    .intro_suptitle {
        font-size: 52px;
    }

    .intro_title {
        font-size: 120px;
     }
/* -------reviews--------------- */

    .reviews_text{
        font-size: 20px;
    }

}

@media (max-width: 990px){
 /* -----------------intro -----------*/   
    .intro_suptitle {
        font-size: 32px;
    }

    .intro_title {
        font-size: 80px;
     }

/*---------- stat_item  blok 3  ------  */
     .stat {
        justify-content: center;
     }

     .stat_item{
        flex: none;
        width: 33.33333%;
        border: 0;
        padding-top: 30px;
        padding-bottom: 30px;
     }
     .stat_item:last-child {
        border: 0;
     }

/*---------- servises_item  blok 4  ------  */
     .servises_item{
        width: 50%;
        padding-bottom: 0;
     }
    .servises_item{
        border-bottom: 0;
        padding-right: 0;
    }

    /* * -------reviews--------------- */ 

    .reviews_photo{
        width: 150px;
        height: 150px;
    }
    .reviews_item{
        padding-left: 190px;
    }
    .reviews .slick-slider {
        padding: 0 60px;
        
    }

    /* -------Часть 8 client------------- */

    .clients_item {
        width: 100%;
    }
    /* ----Часть 9 blog---- */
    .blog {
        flex-wrap: wrap;
        max-width: 380px;
        margin: 0 auto;
    }
    .blog_item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog_item:last-child {
        margin-bottom: 0;
    }


 /*------------ footer------------- */

    .footer_col-first {
        width: 100%;
    }
    .footer_col--second {
        width: 50%;
    }

    .footer_col--third {
        width: 50%;
    }
    .instagram{
        justify-content: flex-start;
    }
    .instagram_item{
        width: auto;
    }
}


@media (max-width: 720px){
   /* -----------------intro -----------*/ 
   .intro {
    min-height: 650px;
    }
    nav {
         display: none; 
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #eb8b8d;

    }
    .nav a {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    .nav-toggle {
        display: block;
    }

    .slider_items span {
        display: none;
    }

    .slider_items.active::before {
        width: 50%;
    }

  /* -------.section 2 Cart------------- */
  .cart {
    justify-content: center;
    margin-top: 50px;
  }
  
  .cart_item {
    width: 100%;
    max-width: 410px;
    margin-bottom: 20px;
   }

   .cart_item:last-child {
    margin-bottom: 0;
   }
    
   /*---------- servises_item  blok 4  ------  */
   .servises_item{
    width: 100%;
    }

    /*----------section--devices  blok 5 ------  */
    .section--devices{
        padding-bottom: 0;
    }
/*---------- Wedo  blok 6 ------  */

    .wedo_img{
        display: none;
    }
    .wedo_item{
        width: 100%;
    }
 /* * -------reviews--------------- */ 

    .reviews_photo {
        position: static;
        margin: 0 auto 20px;
    }
    .reviews_item{
        padding-left: 0;
    }
    .reviews_text{
        font-size: 16px;
    }
    .reviews_author{
        font-size: 20px;
    }
 /*---------------- works -----------*/
    .works {
        flex-wrap: wrap;
    }
    .works_col {
        flex: none;
        width: 50%;
    }
 /*------------ footer------------- */

 .footer_col-first {
    width: 100%;
}
.footer_col--second {
    width: 100%;
}

.footer_col--third {
    width: 100%;
}


}

@media (max-width: 520px){
    /* -----------------intro -----------*/
    
    
    .intro_suptitle {
        font-size: 22px;
    }

    .intro_title {
        font-size: 40px;
     }

     /* -------.section 2------------- */

    .section {
        padding: 40px 0;
        
    }

    .section--devices{
        padding: 0;
    }

    .section_suptitle {
        font-size: 16px;
    }

    .section_title {

        font-size: 24px;   
    }

    .section_title::after { 
        margin: 20px auto;
    }

    .section_header {
        margin: 0 auto 20px;
    }

    .cart {
        
        margin-top: 30px;
    }

 /*--------- stat blok 3 -----------*/

    .stat_item{
        width: 100%;
        border-bottom: 1px solid #fff;
    }

    .stst_count{
        font-size: 52px;
    }

     /*----------section--devices  blok 5 ------  */

     

     .devaices{
        max-width: 320px;
     }

     .devaices_item--iphone{
        width: 180px;
        bottom: -50px;
        right: -80px;
     }


     /* * -------reviews--------------- */
     .reviews .slick-slider {
        padding: 0;
        
    }
    .slick-arrow {
        top: 18%;
    }

    /*----------------- logos ----------------*/
    .logos{
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos_item{
        width: 50%;
    }
    .logo_img{
        margin: 0 auto 20px;
    }

    /*---------------- works -----------*/
    
    .works_col {  
        width: 100%;
    }

  /* -------Часть 8 client------------- */

  .clients_photo {
    position: static;
  }

  .clients_item {
     padding: 0; 
     padding-right: 0;
     text-align: center;
  }
  .cliets_text::before {
    margin: 15px auto;
  }

  /*------------ footer------------- */
  .subscribe{
    flex-wrap: wrap;
    max-width: none;
  }

  .subscribe_input{
    width: 100%;
    margin-bottom: 10px;
  }
  .subscribe_button{
    width: 100%;
  }

}


